public-hoist-pattern[]=*react-native-css-interop*
public-hoist-pattern[]=*@react-native/assets-registry*
public-hoist-pattern[]=*react-native-worklets*
public-hoist-pattern[]=*react-native-reanimated*
public-hoist-pattern[]=*@nozbe/watermelondb*
public-hoist-pattern[]=*expo-modules-core*
