public-hoist-pattern[]=*react-native-css-interop*
public-hoist-pattern[]=*@react-native/assets-registry*
public-hoist-pattern[]=*@react-native/gradle-plugin*
public-hoist-pattern[]=*react-native-worklets*
public-hoist-pattern[]=*react-native-reanimated*
public-hoist-pattern[]=*@nozbe/watermelondb*
public-hoist-pattern[]=*expo-modules-core*
public-hoist-pattern[]=*expo-modules-autolinking*
public-hoist-pattern[]=*expo-updates*
public-hoist-pattern[]=*react-native-heroicons*
public-hoist-pattern[]=*@babel/plugin-transform-react-jsx*
public-hoist-pattern[]=*react-native-gesture-handler*
