@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 50% 97%;
    --foreground: 20 33% 18%;
    --card: 33 33% 95%;
    --card-foreground: 20 33% 18%;
    --primary: 109 22% 33%;
    --primary-foreground: 36 50% 97%;
    --secondary: 33 33% 95%;
    --secondary-foreground: 20 33% 18%;
    --muted: 28 10% 56%;
    --muted-foreground: 28 10% 56%;
    --accent: 109 22% 33%;
    --accent-foreground: 36 50% 97%;
    --destructive: 18 59% 41%;
    --border: 30 17% 88%;
    --input: 30 17% 88%;
  }
}
